@import url('https://fonts.googleapis.com/css?family=Righteous');
html, body {
  margin: 0;
  width: 100%;
  height: 100;
}
body {
  font-family: 'Righteous', cursive;
  background-image: linear-gradient(to right, #55fccd , #55fc62);
}
h1 {
  text-align: center;
}
header {
  /* height: 100px; */
  padding: 10px;
  color: #41f48b;
  width: 100%;
  background-color: white;
}
.somePadding {
  padding: 30px;
  margin: auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
}
button {
  margin: 10px;
  font-family: 'Righteous', cursive;
  background-color: white;
  padding: 12px 28px;
  border: none;
  color: #41f48b;
  border-radius: 10px;
}
