@import url('https://fonts.googleapis.com/css?family=Righteous');
html, body {
  margin: 0;
}
head {

}
body {
  font-family: 'Righteous', cursive;
  background-image: linear-gradient(to right, #41f48b , #a9f441);
}
h1 {
text-align: center;
}
header {
  /* height: 100px; */
  padding: 10px;
  color: #41f48b;
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.somePadding {
  padding: 30px;
}
button {
  font-family: 'Righteous', cursive;
  background-color: white;
  padding: 10px;
  border: none;
  color: #41f48b;
  border-radius: 7px;
}
